## Wikipedia Names by Year

See the README for the full description. In this assignment we'll pull all the names for people born in the 150 years ending in 2015.

In [2]:
# Some code to get you started
import requests
from collections import Counter
from collections import defaultdict
from pprint import pprint

wikipedia_api_url = "https://en.wikipedia.org/w/api.php"

req = {'action':'query',
          'format':'json',
          'list':'categorymembers',
          'cmlimit':10}

In [3]:
# I started with getting a list of the 150 year range we want for my loop to reference

req = {'action':'query',
          'format':'json',
          'list':'categorymembers',
          'cmlimit':10}

year = 1865
year_list = []

while year < 2016:
    year_list.append(year)
    year += 1

In [7]:
# Here I create the dictionary and start my loop. Basically the loop will take each year, add the year into the right
# spot in the cmtitle string, and then follow the same structure as the exercise to scrape each wikipedia page for each 
# year. I don't think I did this right because I hit some limit at about the year 2005. I tried adding on another loop
# to add onto the dictionary thinking it would be a different request, but that didn't work either.

names_by_year = {}

for year in year_list:
    
    req = {'action':'query',
          'format':'json',
          'list':'categorymembers',
          'cmlimit':500,
          'cmtitle':'Category:' + str(year) + '_births'}
    
    last_continue = {}
    iteration = 1
    pages = 0
    
    # Modify it with the values returned in the 'continue' section of the last result.
    req.update(last_continue)
    
    # Call API
    result = requests.get('https://en.wikipedia.org/w/api.php', params=req).json() 
    
    pages += 1
    
    # Grab the names
    names_list = []
    
    for item in result['query']['categorymembers'] :
        names_list.append(item['title'])
        
    names_by_year[year] = names_list
        
    iteration += 1
    
       # Can we get out?
    if 'continue' not in result :
        break
    else :
        last_continue = result['continue']

In [10]:
# In order to write the columns to a text file, I figured I had to match the amount of items in each list. Otherwise,
# I was getting an error.

birth_year = []
names = []

year = 1865



while year < 2006:
    for name in names_by_year[year]:
        birth_year.append(year)
        names.append(name)
    year += 1

In [11]:
# The lists actually have the same length, so it worked. Shocking.
print(len(names))
print(len(birth_year))

70345
70345

In [12]:
import csv

In [13]:
with open('names_by_year.csv', 'w', encoding = 'utf-8') as outfile:
    writer = csv.writer(outfile, delimiter='\t')
    writer.writerows(zip(birth_year,names))

In [15]:
c = Counter(names_by_year)
c.most_common(10)

for i in c:
    print(len(c[i]))

500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
500
345

Question: Which year had the most people born and how many people did it have?
Answer: It seems like the pull capped out at 500 for each year, so really, every year except for 2005, the last year, had the same amount.